:root {
  --primary-color: #8675a9;
  --secondary-color: #c3aed6;
  --btn-yes: rgb(165, 57, 57);
  --btn-yes-hover: rgba(165, 57, 57, 0.8);
  --btn-no: rgb(75, 122, 75);
  --btn-no-hover: rgba(75, 122, 75, 0.8);
}

/* popup logout */
.modal-header {
  background-color: var(--primary-color) !important;
  color: white;
}

.btn-exit {
  border: none !important;
  background: none !important;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  opacity: 0.8;
}
.btn-exit:hover {
  opacity: 1;
}
.btn.yes {
  background-color: var(--btn-yes);
  color: white;
}
.btn.no {
  background-color: var(--btn-no);
  color: white;
}

.btn.yes:hover,
.btn.yes:focus {
  box-shadow: 0 0 0 3px var(--btn-yes-hover);
}
.btn.no:hover,
.btn.no:focus {
  box-shadow: 0 0 0 3px var(--btn-no-hover);
}

/* end popup logout */

.log-out a:hover {
  color: var(--bs-danger) !important;
}
.jumbotron {
  padding-top: 5rem !important;
  background-color: var(--secondary-color);
}

#gallery {
  background-color: var(--secondary-color) !important;
}
#gallery .col-12 > h2 {
  color: white !important;
}

.card {
  color: white;
  background-color: var(--primary-color);
  border: 3px solid white;
}
section {
  padding-top: 4rem !important;
}

.progress-bar {
  background-color: var(--primary-color) !important;
  border-radius: 5px;
}
.btn.btn-primary {
  background-color: var(--primary-color) !important;
  border: none;
}
.btn.btn-primary:focus {
  box-shadow: 0 0 0 3px var(--secondary-color);
}

/* hambuger menu animation */
.animation-x {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: none;
}
.animation-x span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--secondary-color);
  transition: all 0.5s;
}
.animation-x.open span:nth-child(1) {
  transform-origin: 5px;
  transform: rotate(45deg);
}
.animation-x.open span:nth-child(2) {
  transform: scale(0);
}
.animation-x.open span:nth-child(3) {
  transform-origin: 5px;
  transform: rotate(-45deg);
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  border-color: none !important;
}
.row.text-center h2,
.row.text-center.mb-3 h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
/* contact me  */
.form-control:focus {
  box-shadow: 0px 0px 0px 3px var(--secondary-color);
  border: var(--primary-color);
}

/* typed js */
.typed-cursor {
  font-size: 1.25rem;
}

/* progressbar */
.progress-bar:nth-child(1) {
  transition: all 0.5s;
}
